@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --light: #FEFCE7;
  --color-light1: #F8DCAD;
  --color-light2: #C9CC97;
  --color-light3: #91A476;
  --color-light4: #FAAA77;
  --color-light5: #F2735D;
  --color-dark: #192525;
  --color-dark1: #305053;
  --color-dark2: #055C86;
  --color-dark3: #425363;
  --color-dark4: #ACAFA8; 
  --color-brown: #5B3303;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --light: #FEFCE7;
    --color-light1: #F8DCAD;
    --color-light2: #C9CC97;
    --color-light3: #91A476;
    --color-light4: #FAAA77;
    --color-light5: #F2735D;
    --color-dark: #192525;
    --color-dark1: #305053;
    --color-dark2: #055C86;
    --color-dark3: #425363;
    --color-dark4: #ACAFA8; 

  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.logo {
  font-family: var(--font-londrina);
}

.subhead {
  font-family: var(--font-archivo);
}

.gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 44.5%, #000 100%);
  mix-blend-mode: multiply;
}

.nextjs-toast {
  display: none !important;
}

.manrope {
  font-family: var(--font-manrope);
}

.template_box {
  max-width: 472px;
}

.card {
  width: 350px;
  height: 510px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.char-img {
  transform: translate(-50%, 0);
  left: 50%;
}

.questImg {
  height: 140px;
  width: 100%;
  object-fit: cover;
}

.taskImg {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.hint-btn {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  background-color: #f4e3c3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.help-btn {
  position: fixed;
  right: 0;
  margin: 10px 10px 0 0;
}

.mapboxgl-ctrl-top-right {
  display: none;
}

.presents {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 5.4px;
}


.qrcode {
  width: 100%;
  margin-bottom: 50px;
}